@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-50 text-slate-900 transition-colors duration-300 antialiased font-sans;
    }

    .dark body {
        @apply bg-slate-950 text-white;
    }
}

.glass {
    @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
}

.dark .glass {
    @apply bg-slate-900/40 border-slate-700/50;
}